services:
  # PostgreSQL database
  db:
    #Using the lastest PostgreSQL image
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: changemeinpro!

  # Database Management interface
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080

